<!DOCTYPE html>
<html lang="{{ page.lang | default: site.default_lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    {% seo %}
</head>
<body>
    <header>
        <div class="language-switcher">
            {% if page.lang == 'en' %}
                <a href="/zh/">中文</a>
            {% else %}
                <a href="/en/">English</a>
            {% endif %}
        </div>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        {% if page.lang == 'zh' %}
        <div style="text-align:center">
            <h5>&copy; {{ site.time | date: '%Y' }}  上海随糖衍易网络科技有限公司 <a href="https://beian.miit.gov.cn/" style="color:white">沪ICP备 2025115361</a></h5>
        </div>
        {% else %}
        <p>&copy; {{ site.time | date: '%Y' }} Shanghai Suitang Yanyi Network Technology Co., Ltd. All rights reserved.</p>
        {% endif %}
    </footer>
</body>
</html> 